<div
    class="{{ addClass|default('') }} expert-ask-question-button js-dynamic-modal-form-activation-button"
    data-url="#"
>
    <span class="expert-ask-question-button__text">
        Задать вопрос
    </span>
</div>
