.show-more-button {
  display: inline-block;
  padding: 13px 64px;

  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 50px;

  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  @include desktop-only {
    &:hover {
      background-color: #F2F5F7;
    }
  }

  @include tablet {
    font-size: 13px;
    line-height: 16px;
  }

  cursor: pointer;
  user-select: none;
  caret-color: transparent;

  &.loading::after {
    content: "...";
  }

}
