$mainContentWidth: 1350px;
$smallDesktopContentWidth: 1170px;
$phoneSideMargin: 12px;
$tabletSideMargin: 30px;

$fontStack: 'Montserrat', sans-serif;
$textColor: #222222;

$orangeColor: #ffaa1c;
$lightGrayColor: #999;
