.expert-reviews-summary {

  &__reviews-rating-number {
    font-weight: 500;
    font-size: 36px;
    line-height: 21px;

    margin-bottom: 20px;

    @include tablet {
      font-size: 30px;
      line-height: 21px;
      margin-bottom: 12px;
    }
  }

  &__rating-stars {
    margin-bottom: 4px;
  }

  &__reviews-rating-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #666666;

    margin-bottom: 30px;

    @include tablet {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

}
