.view-expert-page {
  padding-bottom: 80px;

  @include tablet {
    padding-bottom: 60px;
  }

  @include phone {
    padding-bottom: 50px;
  }

  &__breadcrumbs {
    margin-bottom: 32px;
    @include tablet {
      margin-bottom: 21px;
    }
  }


  &__expert-full {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include phone {
      padding: 0 $phoneSideMargin;
    }
  }

  &__reviews {
    @include phone {
      padding: 0 $phoneSideMargin;
    }
  }

}
